img {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.chat-icon img {

    background-color: rgb(81, 88, 146);
    padding: 5px;
    border-radius: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

.Navigation {
  justify-content: space-between;
}

.chat-icon {
    position: fixed;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    z-index: 1001;
}

.chat-icon img:hover {
  transform: scale(1.1); /* Slightly enlarges the icon */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adds a shadow */
}

.chat-menu {
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 300px;
    height: 675px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #282424;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
.gpt-response {
  flex-grow: 1;
  overflow-y:scroll;
  padding: 20px; /* Added padding for better readability */
  color: #ccc;
  font-size: 15px;
  white-space: pre-wrap; /* Preserves white spaces and line breaks */
  word-break: break-word; /* Handles long words */
  margin: 0; /* Ensure no additional margins are added */
  line-height: 1.6; /* Improve readability with line spacing */
  text-align: left; /* Justifies text alignment */
}

.gpt-response::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.chatbox-form {
  display: flex;
  flex-direction: column;
}

  textarea {
    flex: 1;
    max-height: 50px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    outline: none;
    background-color: #333333;
    color: #ccc;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    margin: 7px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .input-button, .input-button-highlighted {
    padding: 10px 20px;
    margin-bottom: 5px;
    background-color: #333;
    color: #ccc;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #282424;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in 0.125s;
    align-self: center;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .input-button-highlighted {
    background-color: #ccc;
    color: rgb(37, 36, 36);
  }
  
  button:hover {
    background-color: #ccc;
    color: rgb(37, 36, 36);
  }