/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Black with 50% opacity */
    z-index: 0; /* Ensures the overlay is behind the content */
}

@keyframes change {
    0% {
        background-image: url('../assets/GetStarted/image1.jpg');
    }
    20% {
        background-image: url('../assets/GetStarted/image2.webp');
    }
    40% {
        background-image: url('../assets/GetStarted/image3.jpg');
    }
    60% {
        background-image: url('../assets/GetStarted/image4.jpg');
    }
    80% {
        background-image: url('../assets/GetStarted/image5.jpg');
    }
    100% {
        background-image: url('../assets/GetStarted/image6.webp');
    }
}

.text-box {
    width: 90%;
    color: #fff;
    text-align: center;
    z-index: 1; /* Ensure text appears above the overlay */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-box h1 {
    font-size: 62px;
    line-height: 1.2;
}

.text-box h5 {
    font-size: 20px;
}

.hero-btn { 
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 5px solid #fff;
    padding: 14px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    margin-top: 20px;
}

.hero-btn:hover {
    border: 2px solid black;
    /* #45080b; */
    background: rgb(78, 67, 240);
    /* #e10a15; */
    transition: 0.5s;
}


.financial-tip-header {
    margin-top: 100px;
    padding: 0px !important;
    width: 80% !important;
    font-style: italic;
}
